@charset "UTF-8";
@font-face {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/PPNeueMachinaInktrapUltrabold.eot");
  src: url("../fonts/PPNeueMachinaInktrapUltrabold.eot") format("embedded-opentype"), url("../fonts/PPNeueMachinaInktrapUltrabold.woff2") format("woff2"), url("../fonts/PPNeueMachinaInktrapUltrabold.woff") format("woff"), url("../fonts/PPNeueMachinaInktrapUltrabold.ttf") format("truetype"), url("../fonts/PPNeueMachinaInktrapUltrabold.svg#PPNeueMachinaInktrapUltrabold") format("svg");
}
@font-face {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/PPNeueMachinaInktrapUltrabold.eot");
  src: url("../fonts/PPNeueMachinaInktrapUltrabold.eot") format("embedded-opentype"), url("../fonts/PPNeueMachinaInktrapUltrabold.woff2") format("woff2"), url("../fonts/PPNeueMachinaInktrapUltrabold.woff") format("woff"), url("../fonts/PPNeueMachinaInktrapUltrabold.ttf") format("truetype"), url("../fonts/PPNeueMachinaInktrapUltrabold.svg#PPNeueMachinaInktrapUltrabold") format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../css/fontawesome/webfonts/fa-solid-900.eot");
  src: url("../css/fontawesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../css/fontawesome/webfonts/fa-solid-900.woff2") format("woff2"), url("../css/fontawesome/webfonts/fa-solid-900.woff") format("woff"), url("../css/fontawesome/webfonts/fa-solid-900.ttf") format("truetype"), url("../css/fontawesome/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}
/**
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */
html {
  font-family: sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
  position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #f4f4f4;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-family: "Alegreya Sans", sans-serif;
  color: #000;
  font-weight: 500;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

select {
  text-transform: none;
}

button {
  overflow: visible;
}

button,
input,
select,
textarea {
  max-width: 100%;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0.4375em;
  padding: 0;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=datetime-local]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-outer-spin-button,
input[type=week]::-webkit-inner-spin-button,
input[type=week]::-webkit-outer-spin-button,
input[type=month]::-webkit-inner-spin-button,
input[type=month]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 0px solid #d1d1d1;
  margin: 0 0 1.75em;
  min-width: inherit;
  padding: 0;
}

fieldset > :last-child {
  margin-bottom: 0;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

optgroup {
  font-weight: bold;
}

/**
 * 2.0 - Genericons
 */
.menu-item-has-children a:after,
.social-navigation a:before,
.dropdown-toggle:after,
.bypostauthor > article .fn:after,
.pagination .prev:before,
.pagination .next:before,
.pagination .nav-links:before,
.pagination .nav-links:after,
.search-submit:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "Genericons";
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  vertical-align: top;
}

/**
 * 3.0 - Typography
 */
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.2;
  margin: 0;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0 0 1em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  border: 0 solid #404040;
  border-left-width: 4px;
  color: #686868;
  font-size: 19px;
  font-size: 1.1875rem;
  font-style: italic;
  line-height: 1.4736842105;
  margin: 0 0 1.4736842105em;
  overflow: hidden;
  padding: 0 0 0 1.263157895em;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote p {
  margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
  color: #404040;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
  content: "— ";
}

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}

blockquote > :last-child {
  margin-bottom: 0;
}

address {
  font-style: italic;
  margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata, monospace;
}

pre {
  border: 1px solid #d1d1d1;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3125;
  margin: 0 0 1.75em;
  max-width: 100%;
  overflow: auto;
  padding: 1.75em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  background-color: #d1d1d1;
  padding: 0.125em 0.25em;
}

abbr,
acronym {
  border-bottom: 1px dotted #d1d1d1;
  cursor: help;
}

mark,
ins {
  background: #ea1c3c;
  color: #fff;
  padding: 0.125em 0.25em;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/**
 * 4.0 - Elements
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #ffffff;
  /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: #d1d1d1;
  border: 0;
  height: 1px;
  margin: 0 0 1.75em;
}

ul,
ol {
  margin: 0 0 1.75em 1.25em;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
  margin-left: 1.5em;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dl {
  margin: 0 0 1.75em;
}

dt {
  font-weight: 600;
}

dd {
  margin: 0 0 1.75em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle;
}

del {
  opacity: 0.8;
}

table,
th,
td {
  border: 1px solid #d1d1d1;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.75em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: 600;
}

td {
  border-width: 0 1px 1px 0;
}

th,
td {
  padding: 0.4375em;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  color: #686868;
}

:-moz-placeholder {
  color: #686868;
}

::-moz-placeholder {
  color: #686868;
  opacity: 1;
  /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
  color: #686868;
}

/**
 * 5.0 - Forms
 */
input {
  line-height: normal;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type=button],
input[type=button][disabled]:hover,
input[type=button][disabled]:focus,
input[type=reset],
input[type=reset][disabled]:hover,
input[type=reset][disabled]:focus,
input[type=submit],
input[type=submit][disabled]:hover,
input[type=submit][disabled]:focus {
  background: #404040;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.84375em 0.875em 0.78125em;
  text-transform: uppercase;
}

button:hover,
button:focus,
input[type=button]:hover,
input[type=button]:focus,
input[type=reset]:hover,
input[type=reset]:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  background: #ea1c3c;
}

button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
  outline: thin dotted;
  outline-offset: -4px;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=week],
input[type=month],
input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=tel],
input[type=number],
textarea {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #555555;
  padding: 0.625em 0.4375em;
  width: 100%;
}

input[type=search] {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 0px solid #d1d1d1;
  border-radius: 2px;
  color: #555555;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}

input[type=date]:focus,
input[type=time]:focus,
input[type=datetime-local]:focus,
input[type=week]:focus,
input[type=month]:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=number]:focus,
textarea:focus {
  background-color: #fff;
  border-color: #ea1c3c;
  color: #404040;
  outline: 0;
}

input[type=search]:focus {
  background-color: #fff;
  color: #404040;
  outline: 0;
}

.post-password-form {
  margin-bottom: 1.75em;
}

.post-password-form label {
  color: #686868;
  display: block;
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: 0.076923077em;
  line-height: 1.6153846154;
  margin-bottom: 1.75em;
  text-transform: uppercase;
}

.post-password-form input[type=password] {
  margin-top: 0.4375em;
}

.post-password-form > :last-child {
  margin-bottom: 0;
}

.search-form {
  position: relative;
}

input[type=search].search-field {
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  width: -webkit-calc(100% - 22px);
  width: calc(100% - 22px);
}

button.search-submit {
  background: transparent;
  bottom: 0;
  color: #fcb72b;
  padding: 0;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 22px;
}

button.search-submit:before {
  content: "";
  font-size: 22px;
  left: 2px;
  line-height: 22px;
  position: relative;
  width: 22px;
}

/* Media captions */
figcaption,
.wp-caption,
.wp-caption-text,
.wp-block-embed figcaption {
  color: currentColor;
  font-size: 1rem;
  line-height: 1.7;
  margin-top: calc(0.5 * 20px);
  margin-bottom: 20px;
  text-align: center;
}

.alignleft figcaption,
.alignright figcaption,
.alignleft .wp-caption,
.alignright .wp-caption,
.alignleft .wp-caption-text,
.alignright .wp-caption-text,
.alignleft .wp-block-embed figcaption,
.alignright .wp-block-embed figcaption {
  margin-bottom: 0;
}

/* WP Smiley */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

table figcaption {
  font-size: 1rem;
}

table.is-style-stripes th,
table.is-style-stripes td {
  border-width: 0;
}

table.wp-calendar-table td,
table.wp-calendar-table th {
  background: transparent;
  border: 0;
  text-align: center;
  line-height: 2;
  vertical-align: middle;
  word-break: normal;
}

table.wp-calendar-table th {
  font-weight: bold;
}

table.wp-calendar-table thead,
table.wp-calendar-table tbody {
  color: currentColor;
  border: 1px solid;
}

table.wp-calendar-table caption {
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  color: currentColor;
}

* > figure > video {
  max-width: unset;
  width: 100%;
  vertical-align: middle;
}

.alignleft {
  /*rtl:ignore*/
  text-align: left;
  margin-top: 0;
}

.entry-content > .alignleft {
  max-width: inherit;
}

/**
 * .aligncenter
 */
.aligncenter {
  clear: both;
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/**
 * .alignright
 */
.alignright {
  margin-top: 0;
  margin-bottom: 30px;
}

.entry-content > .alignright {
  max-width: inherit;
}

@media only screen and (min-width: 482px) {
  .alignright {
    float: right;
    margin-left: 25px;
  }

  .entry-content > .alignright {
    max-width: 50%;
  }
}
[class*=inner-container] > .alignleft + *,
[class*=inner-container] > .alignright + * {
  margin-top: 0;
}

.alignwide {
  clear: both;
}

.alignfull {
  clear: both;
}

.has-left-content {
  justify-content: flex-start;
}

.has-right-content {
  justify-content: flex-end;
}

.has-parallax {
  background-attachment: fixed;
}

.has-drop-cap:not(:focus)::first-letter {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 0.66;
  text-transform: uppercase;
  font-style: normal;
  float: left;
  margin: 0.1em 0.1em 0 0;
  font-size: calc(1.2 * 4rem);
}

.has-drop-cap:not(:focus)::after {
  content: "";
  display: table;
  clear: both;
  padding-top: 14px;
}

/**
 * Entry Content
 */
.entry-content,
.entry-summary {
  font-size: 1rem;
  font-weight: 300;
}

.entry-content p {
  margin-bottom: 0.5rem;
}

.entry-content p:last-child {
  margin-bottom: 0rem;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin-bottom: 0.5rem;
}

.entry-content > iframe[style] {
  margin: 30px 0 !important;
  max-width: 100% !important;
}

/**
 * Post Thumbnails
 */
.post-thumbnail {
  text-align: center;
}

.post-thumbnail .wp-post-image {
  display: block;
  width: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(2 * 30px);
}

.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 black;
  margin: 10px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.blob.white {
  background: white;
  box-shadow: 0 0 0 0 white;
  animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.bounce-down {
  animation: bounce 2s infinite;
}

body {
  background-color: #000;
  transition: all 0.4s linear;
}

/** *********************
  GENERICO
 ************************ */
.content-width {
  margin: auto;
  max-width: 1180px;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100%;
}

[data-paroller-factor] {
  position: relative;
  z-index: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

/** *********************
  HEADER
 ************************ */
.header {
  display: flex;
  flex-direction: column;
  height: 72px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  height: 48px;
  margin: auto;
  width: 80%;
}
.header .logo {
  display: flex;
  flex-direction: column;
}
.header .logo a {
  display: block;
  margin: auto;
}
.header .logo .only-text {
  padding-left: 10px;
}
.header .dark-mode-hamburger {
  display: flex;
}
.header .dark-mode-hamburger .dark-mode-container {
  display: flex;
  margin: auto 40px auto auto;
}
.header .dark-mode-hamburger .dark-mode-container span {
  display: inline-block;
  height: 22px;
  color: #D9D9D9;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 150%;
}
.header .dark-mode-hamburger .dark-mode-container input.dark-mode-switch {
  height: 0;
  width: 0;
  visibility: hidden;
}
.header .dark-mode-hamburger .dark-mode-container label.switch {
  background: #ffffff;
  border-radius: 22px;
  cursor: pointer;
  display: block;
  height: 22px;
  position: relative;
  text-indent: -9999px;
  width: 50px;
}
.header .dark-mode-hamburger .dark-mode-container label.switch span {
  font-size: 14px;
}
.header .dark-mode-hamburger .dark-mode-container label.switch:after {
  content: "";
  background: #000;
  border-radius: 14px;
  height: 14px;
  left: calc(100% - 19px);
  position: absolute;
  transition: all 0.4s linear;
  top: 4px;
  width: 14px;
}
.header .dark-mode-hamburger .dark-mode-container input:checked + label {
  background: #000000;
}
.header .dark-mode-hamburger .dark-mode-container input:checked + label:after {
  background: #ffffff;
  left: 19px;
  transform: translateX(-100%);
}
.header .dark-mode-hamburger .dark-mode-container label:active:after {
  width: 16px;
}
.header .dark-mode-hamburger .menu-container-opener {
  display: flex;
}
.header .dark-mode-hamburger .menu-container-opener a {
  margin: auto;
}
.header .dark-mode-hamburger .menu-container-opener svg {
  pointer-events: none;
}
.header .menu-close {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Neue Machina", sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
}
.header .menu-close a {
  color: #ffffff;
  display: inline-block;
  margin: auto;
}

/** *********************
  MENUs
 ************************ */
.menu-container {
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.menu-container .header {
  position: absolute;
}
.menu-container .menu-area {
  position: relative;
  padding-bottom: 40px;
  padding-top: 40px;
}
.menu-container .menu-area .main-navigation {
  color: #ffffff;
  font-family: "Neue Machina", sans-serif;
  font-size: 120px;
  font-weight: 900;
  line-height: 88%;
  text-transform: uppercase;
}
.menu-container .menu-area .main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-container .menu-area .main-navigation a {
  display: block;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}
.menu-container .menu-area .main-navigation a:hover {
  color: var(--red, #FC0606);
  font-family: "ivypresto-display", serif;
  font-size: 120px;
  font-style: italic;
  font-weight: 300;
  line-height: 106px;
  letter-spacing: 0em;
}
.menu-container .menu-area .social-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
}
.menu-container .menu-area .social-container .social {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.menu-container .menu-area .social-container .social a {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.menu-container .menu-area .social-container .social a svg {
  pointer-events: none;
}
.menu-container .menu-area .social-container .social a svg path {
  transition: fill 0.4s ease;
}
.menu-container .menu-area .social-container .social a:hover svg path {
  fill: var(--red, #FC0606);
}
.menu-container .menu-area .download-email {
  bottom: 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  left: 0;
  line-height: 150%;
  position: absolute;
}
.menu-container .menu-area .download-email a {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  position: relative;
}
.menu-container .menu-area .download-email a:first-child {
  padding-left: 0px;
}
.menu-container .menu-area .download-email a:first-child:before {
  display: none;
}
.menu-container .menu-area .download-email a:before {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 60%;
  left: 0;
  position: absolute;
  top: 20%;
  width: 1px;
}

/** *********************
  HOME PAGE
 ************************ */
.home-section .row-ivy {
  font-family: "ivypresto-display", serif;
  font-size: 96px;
  font-size: 4.6vw;
  font-style: italic;
  font-weight: 300;
  line-height: 110px;
  line-height: 1.2;
  letter-spacing: 0em;
}
.home-section .row-neue {
  font-family: "Neue Machina", sans-serif;
  font-size: 96px;
  font-size: 4.6vw;
  font-weight: 800;
  line-height: 110px;
  line-height: 1.2;
  letter-spacing: 0em;
}

.home-intro-top {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.home-intro-top .home-intro-top-base {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home-intro-top .home-intro-top-base .home-intro-top-base-testo {
  margin: auto;
}
.home-intro-top .home-intro-top-hover {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.4s ease-in-out;
  top: 0;
  width: 100%;
}
.home-intro-top .home-intro-top-hover video {
  position: absolute;
  width: 100%;
}
.home-intro-top .home-intro-top-hover .home-intro-top-hover-testo {
  background-color: #FC0606;
  color: #ffffff;
  font-family: "ivypresto-display", serif;
  font-size: 96px;
  font-size: 4.6vw;
  font-style: italic;
  font-weight: 300;
  line-height: 110px;
  line-height: 1.2;
  letter-spacing: 0em;
  margin: auto;
  opacity: 0;
  padding: 0 20px;
  transition: all 1s ease-in-out;
  z-index: 1;
}
.home-intro-top:hover .home-intro-top-hover {
  opacity: 1;
}
.home-intro-top:hover .home-intro-top-hover-testo {
  opacity: 1;
}

.home-video-scroll {
  color: #ffffff;
  text-align: center;
}
.home-video-scroll .home-video-scroll-elem {
  margin: auto;
  position: relative;
}
.home-video-scroll .home-video-scroll-elem video {
  height: 100%;
  transform: translateX(50%);
}
.home-video-scroll .video-1 {
  height: 580px;
  overflow: hidden;
  transform: rotate(-12deg) translateX(50%);
  width: 350px;
}
.home-video-scroll .video-1 video {
  transform: translateX(calc(-1 * calc(50% - 175px)));
}
.home-video-scroll .video-2 {
  width: 300px;
  height: 350px;
  transform: rotate(11deg);
  flex-shrink: 0;
  height: 500px;
  overflow: hidden;
  transform: rotate(11deg) translateX(-50%);
  width: 350px;
}
.home-video-scroll .video-2 video {
  transform: translateX(calc(-1 * calc(50% - 175px)));
}
.home-video-scroll .video-3 {
  height: 500px;
  overflow: hidden;
  transform: rotate(10deg) translateX(-50%);
  width: 350px;
}
.home-video-scroll .video-3 video {
  transform: translateX(calc(-1 * calc(50% - 175px)));
}
.home-video-scroll .video-4 {
  width: 596px;
  overflow: hidden;
  transform: rotate(10deg) translateX(50%);
  height: 346px;
}
.home-video-scroll .video-4 video {
  transform: translateX(calc(-1 * calc(50% - 175px)));
}

.home-fascia-rossa {
  background-color: #FC0606;
  display: flex;
  height: 987px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -120px;
  flex-shrink: 0;
}

.home-iptv {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.home-iptv .home-iptv-container {
  margin: auto;
}
.home-iptv .home-iptv-container h2.row-ivy {
  font-size: 96px;
  line-height: 130%;
}
.home-iptv .home-iptv-container h2.row-neue {
  font-size: 96px;
  line-height: 130%;
}
.home-iptv .home-iptv-container .text {
  font-size: 16px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  line-height: 145%;
}

.home-computer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.home-computer .home-iptv-container {
  margin: auto;
}
.home-computer .home-iptv-container h2.row-ivy {
  font-size: 96px;
  line-height: 130%;
}
.home-computer .home-iptv-container h2.row-neue {
  font-size: 96px;
  line-height: 130%;
}
.home-computer .home-iptv-container .text {
  font-size: 16px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  line-height: 145%;
}

.page-link {
  color: #ffffff;
  overflow: hidden;
  padding-top: 15vw;
}
.page-link .page-link-top-line {
  font-family: "ivypresto-display", serif;
  font-size: 160px;
  font-style: italic;
  font-weight: 100;
  line-height: 175px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
}
.page-link .page-link-top-line a {
  display: inline-block;
  margin: 0 3vw;
}
.page-link .page-link-bottom-line {
  font-family: "Neue Machina", sans-serif;
  font-size: 160px;
  font-weight: 900;
  line-height: 175px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
}
.page-link .page-link-bottom-line a {
  display: inline-block;
  margin: 0 3vw;
}

/** *********************
  ABOUT
 ************************ */
.about-intro-top {
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.about-intro-top .video {
  background-color: #000000;
  height: 100%;
  left: 0;
  position: absolute;
  transition: all 0.4s ease-in-out;
  top: 0;
  width: 100%;
}
.about-intro-top .video video {
  position: absolute;
  width: 100%;
}
.about-intro-top .testo-container {
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 100;
  transition: all 0.6s ease-in-out;
}
.about-intro-top .testo-container.hover {
  backdrop-filter: blur(0px);
}
.about-intro-top .testo {
  font-family: "Neue Machina", sans-serif;
  font-size: 96px;
  font-weight: 800;
  line-height: 105px;
  letter-spacing: 0em;
  margin: auto;
  text-align: left;
  transition: all 0.4s ease-in-out;
}
.about-intro-top .testo span {
  font-family: "ivypresto-display", serif;
  font-size: 96px;
  font-style: italic;
  font-weight: 300;
  line-height: 106px;
  letter-spacing: 0em;
}
.about-intro-top .arrow-down {
  position: absolute;
  left: calc(50% - 12px);
  bottom: 5%;
  z-index: 100;
}

.about-we-crush {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.about-we-crush .panel {
  height: 100%;
  width: 100%;
  position: absolute;
}
.about-we-crush .panel .content-width {
  margin: auto;
}
.about-we-crush .panel .panel-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.about-we-crush .panel.panel-1 {
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
}
.about-we-crush .panel.panel-1 .sent-1 {
  font-family: "Neue Machina", sans-serif;
  font-size: 96px;
  font-weight: 800;
  line-height: 106px;
  letter-spacing: 0em;
}
.about-we-crush .panel.panel-1 .sent-2 {
  font-family: "ivypresto-display", serif;
  font-size: 96px;
  font-style: italic;
  font-weight: 300;
  line-height: 106px;
  letter-spacing: 0em;
  position: relative;
}
.about-we-crush .panel.panel-1 .sent-2 .sent-amp {
  display: inline-block;
  font-family: "ivypresto-display", serif;
  font-size: 240px;
  font-style: italic;
  font-weight: 300;
  line-height: 0.9;
  letter-spacing: 0em;
  padding-left: 5rem;
  position: absolute;
  bottom: 0;
}
.about-we-crush .panel.panel-1 .sent-3 .sent-3-1 {
  font-family: "Neue Machina", sans-serif;
  font-size: 96px;
  font-weight: 800;
  line-height: 106px;
  letter-spacing: 0em;
}
.about-we-crush .panel.panel-1 .sent-3 .sent-3-2 {
  font-family: "ivypresto-display", serif;
  font-size: 96px;
  font-style: italic;
  font-weight: 300;
  line-height: 106px;
  letter-spacing: 0em;
  position: relative;
}
.about-we-crush .panel.panel-1 .sent-3 .sent-3-2 .video {
  height: 250px;
  opacity: 0;
  position: absolute;
  right: 0px;
  overflow: hidden;
  top: -50px;
  transform: rotate(-10.488deg);
  transition: all 0.4s ease-in-out;
  width: 185px;
}
.about-we-crush .panel.panel-1 .sent-3 .sent-3-2 .video video {
  transform: translateX(calc(-1 * calc(50% - 90px)));
}
.about-we-crush .panel.panel-1 .sent-3 .sent-3-2:hover .video {
  opacity: 1;
}
.about-we-crush .panel.panel-1 .dot {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10%;
  height: 48px;
  right: 10%;
  text-align: center;
  width: 48px;
}
.about-we-crush .panel.panel-1 .dot span {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 100%;
  width: 100%;
}
.about-we-crush .panel.panel-1 .dot svg {
  margin: auto;
  z-index: 10;
}
.about-we-crush .panel.panel-2 {
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 10;
}
.about-we-crush .panel.panel-2 .sent-1,
.about-we-crush .panel.panel-2 .sent-3 {
  display: inline;
  font-family: "ivypresto-display", serif;
  font-size: 96px;
  font-style: italic;
  font-weight: 300;
  line-height: 106px;
  letter-spacing: 0em;
  position: relative;
}
.about-we-crush .panel.panel-2 .sent-1 .video,
.about-we-crush .panel.panel-2 .sent-3 .video {
  height: 185px;
  opacity: 0;
  position: absolute;
  left: -80%;
  overflow: hidden;
  top: 20%;
  transform: rotate(-10.488deg);
  transition: all 0.4s ease-in-out;
  width: 250px;
}
.about-we-crush .panel.panel-2 .sent-1 .video video,
.about-we-crush .panel.panel-2 .sent-3 .video video {
  transform: translateX(calc(-1 * calc(50% - 125px)));
}
.about-we-crush .panel.panel-2 .sent-1:hover .video,
.about-we-crush .panel.panel-2 .sent-3:hover .video {
  opacity: 1;
}
.about-we-crush .panel.panel-2 .sent-2,
.about-we-crush .panel.panel-2 .sent-4 {
  display: inline;
  font-family: "Neue Machina", sans-serif;
  font-size: 96px;
  font-weight: 800;
  line-height: 106px;
  letter-spacing: 0em;
}
.about-we-crush .panel.panel-2 .dot {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10%;
  height: 48px;
  right: 10%;
  text-align: center;
  width: 48px;
}
.about-we-crush .panel.panel-2 .dot span {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 100%;
  width: 100%;
}
.about-we-crush .panel.panel-2 .dot svg {
  margin: auto;
  z-index: 10;
}
.about-our-client-have {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.about-our-client-have .testo-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
  margin-top: 20vh;
  width: 100%;
}
.about-our-client-have .testo-container .testo {
  font-size: 96px;
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  line-height: 120.5%;
  text-transform: uppercase;
}

.about-world {
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.about-world .video {
  background-color: #000000;
  height: 100%;
  left: 0;
  position: absolute;
  transition: all 0.4s ease-in-out;
  top: 0;
  width: 100%;
}
.about-world .video video {
  position: absolute;
  width: 100%;
}
.about-world .testo-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 100;
  transition: all 0.6s ease-in-out;
}
.about-world .testo {
  margin: auto;
  text-transform: uppercase;
}
.about-world .testo .sent-1 {
  color: #FFF;
  font-size: 96px;
  font-family: "ivypresto-display", serif;
  font-style: italic;
  font-weight: 300;
  line-height: 110%;
}
.about-world .testo .sent-2 {
  font-family: "Neue Machina", sans-serif;
  font-size: 96px;
  font-weight: 800;
  line-height: 105px;
  letter-spacing: 0em;
  margin: auto;
  text-align: left;
}

.about-partners {
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.about-partners .testo-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 100;
  transition: all 0.6s ease-in-out;
}
.about-partners .testo {
  margin: auto;
  text-transform: uppercase;
}
.about-partners .testo .title {
  font-family: "Neue Machina", sans-serif;
  font-size: 96px;
  font-weight: 800;
  line-height: 105px;
  letter-spacing: 0em;
  margin-bottom: 3rem;
  text-align: left;
}

.about-clients {
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.about-clients .testo-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 100;
  transition: all 0.6s ease-in-out;
}
.about-clients .testo {
  margin: auto;
  text-transform: uppercase;
}
.about-clients .testo .title {
  font-family: "Neue Machina", sans-serif;
  font-size: 96px;
  font-weight: 800;
  line-height: 105px;
  letter-spacing: 0em;
  margin-bottom: 3rem;
  text-align: left;
}
.about-clients .client-row {
  display: flex;
  justify-content: space-between;
}
.about-clients .client-row .img-i {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 18%;
  max-height: 4.4rem;
  text-align: center;
}
.about-clients .client-row .img-i.img-1 {
  text-align: left;
}
.about-clients .client-row .img-i.img-5 {
  text-align: right;
}
.about-clients .client-row img {
  margin-bottom: auto;
  margin-top: auto;
  max-height: 100%;
}

.about-testimonial {
  color: #ffffff;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.about-testimonial .testo-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 100;
  transition: all 0.6s ease-in-out;
}
.about-testimonial .title {
  font-family: "Neue Machina", sans-serif;
  font-size: 96px;
  font-weight: 800;
  line-height: 105px;
  letter-spacing: 0em;
  margin-bottom: 3rem;
  text-align: left;
}
.about-testimonial .title span {
  font-family: "ivypresto-display", serif;
  font-size: 96px;
  font-style: italic;
  font-weight: 300;
  line-height: 106px;
  letter-spacing: 0em;
  position: relative;
}
.about-testimonial .testimonial-container {
  padding-bottom: 148px;
}
.about-testimonial .testimonial-slide {
  margin: auto;
  text-transform: uppercase;
  display: flex;
}
.about-testimonial .testimonial-slide .img {
  background-repeat: no-repeat;
  border-radius: 42px;
  overflow: hidden;
  position: relative;
  width: 35%;
  background-blend-mode: luminosity;
  background-color: #000000;
}
.about-testimonial .testimonial-slide .img img {
  max-width: 100%;
  visibility: hidden;
}
.about-testimonial .testimonial-slide .img:after {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.03%, rgba(0, 0, 0, 0.8) 90%);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}
.about-testimonial .testimonial-slide .data-container {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  width: 58%;
}
.about-testimonial .testimonial-slide .data {
  color: #ffffff;
  margin: auto;
}
.about-testimonial .testimonial-slide .data .description {
  font-size: 24px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 32px;
  margin-top: 32px;
}
.about-testimonial .testimonial-slide .data .societa {
  display: flex;
}
.about-testimonial .testimonial-slide .data .logo {
  position: relative;
  margin-left: 20px;
  padding-left: 21px;
}
.about-testimonial .testimonial-slide .data .logo .logo-black {
  display: none;
}
.about-testimonial .testimonial-slide .data .logo:before {
  background-color: #ffffff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}
.about-testimonial .testimonial-slide .data .nome {
  font-size: 18px;
  font-family: "ivypresto-display", serif;
  font-style: italic;
  font-weight: 300;
  line-height: 150%;
}
.about-testimonial .testimonial-slide .data .societa {
  font-family: "Neue Machina", sans-serif;
  color: #FFF;
  font-size: 16px;
  font-weight: 800;
  line-height: 150%;
}
.about-testimonial .swiper-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 100%;
}
.about-testimonial .swiper-buttons .swiper-pagination {
  left: 0;
  position: absolute;
  width: auto;
}
.about-testimonial .swiper-buttons .swiper-pagination .swiper-pagination-bullet {
  background-color: #8D8D8D;
  opacity: 1;
}
.about-testimonial .swiper-buttons .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.about-testimonial .swiper-button-next,
.about-testimonial .swiper-button-prev {
  position: absolute;
  top: 0;
  width: 49px;
  height: 49px;
  margin-top: 0;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-testimonial .swiper-button-next:after,
.about-testimonial .swiper-button-prev:after {
  display: none;
}
.about-testimonial .swiper-button-prev {
  left: auto;
  right: 55px;
  transform: rotate(180deg);
}
.about-testimonial .swiper-button-next {
  right: 0;
}

.about-section {
  display: none !important;
}

.about-section.about-clients {
  display: flex !important;
}

/** *********************
  FOOTER
 ************************ */
.site-footer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
.site-footer .footer-continer {
  margin: auto;
}
.site-footer .row-email {
  color: var(--red, #FC0606);
  font-family: "Neue Machina", sans-serif;
  font-size: 21px;
  font-weight: 800;
  line-height: 120px;
  letter-spacing: 3.78px;
  text-transform: uppercase;
}
.site-footer .row-email a {
  color: var(--red, #FC0606);
}
.site-footer .row-sentence {
  color: var(--light-grey, #F4F4F4);
  font-size: 96px;
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  line-height: 109.5%;
  text-transform: uppercase;
}
.site-footer .row-sentence span {
  font-family: "ivypresto-display", serif;
  font-size: 96px;
  font-style: italic;
  font-weight: 300;
  line-height: 106px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
}
.site-footer .row-sentence span .anim-togheter {
  align-items: center;
  background: url(../img/anim-togheter.gif), lightgray 50%/cover no-repeat;
  display: none;
  height: 214.004px;
  transform: rotate(7.277deg);
  padding: 0px 23.985px 47.488px 0px;
  justify-content: center;
  width: 389.48px;
  position: absolute;
  top: 0;
  left: calc(30% - 107px);
}
.site-footer .row-sentence span:hover .anim-togheter {
  display: block;
}
.site-footer .row-sedi {
  display: flex;
}
.site-footer .row-sedi .sede-i {
  color: #F4F4F4;
  font-size: 14px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  line-height: 150%;
  width: 50%;
}
.site-footer .row-sedi .sede-i .location {
  color: #FC0606;
}
.site-footer .row-sedi .sede-i .address-container {
  display: flex;
}
.site-footer .row-sedi .sede-i .address-container .address {
  width: 50%;
}

/** *********************
  ARCHIVE
 ******* */
body.archive .page-title {
  display: none;
}
body.archive .project-category {
  left: 0;
  position: fixed;
  top: 5rem;
  width: 100%;
}
body.archive .project-category .container {
  display: flex;
  justify-content: center;
}
body.archive .project-category .container-1 {
  display: flex;
  justify-content: center;
  position: relative;
}
body.archive .project-category .container-1 .cat-i {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
body.archive .project-category .container-1 .cat-i a {
  display: block;
  margin: auto;
  font-size: 24px;
  font-weight: 300;
  line-height: 140%;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}
body.archive .project-category .container-1 .cat-i a:hover {
  background-color: #FC0606;
}
body.archive .project-category .container-1 .star {
  margin: auto 3rem;
  transition: all 0.4s ease-in-out;
}
body.archive .project-category .container-1:hover .cat-i {
  opacity: 1;
}
body.archive .project-category .container-1:hover .star {
  transform: rotateX(-360deg) rotateY(360deg);
}
body.archive .page-link {
  left: 0;
  padding-top: 0;
  position: fixed;
  top: 14rem;
  width: 100%;
}
body.archive .page-link .page-link-top-line {
  font-size: 100px;
  line-height: 105px;
}
body.archive .page-link .page-link-bottom-line {
  font-size: 100px;
  line-height: 105px;
}
body.archive .content-area {
  margin-top: 28rem;
  min-height: 100vh;
  position: relative;
}
body.archive .content-area .site-main {
  display: flex;
  flex-direction: column;
}
body.archive .content-area article {
  padding-bottom: 4rem;
  width: calc(50% - 50px);
}
body.archive .content-area article .article-container {
  max-width: 70%;
}
body.archive .content-area article .article-container.left {
  margin-left: 0;
  margin-right: auto;
}
body.archive .content-area article .article-container.right {
  margin-left: auto;
  margin-right: 0;
}
body.archive .content-area article .article-container.center {
  margin-left: auto;
  margin-right: auto;
}
body.archive .content-area article .img {
  border-radius: 2rem;
  overflow: hidden;
}
body.archive .content-area article .tit-container {
  font-size: 24px;
  padding: 16px 0;
  text-align: center;
}
body.archive .content-area article .tit-container .inner,
body.archive .content-area article .tit-container a {
  display: flex;
  justify-content: center;
}
body.archive .content-area article .tit-container .client {
  display: inline-block;
  padding: 0 0.5rem;
}
body.archive .content-area article .tit-container .location {
  display: inline-block;
  padding: 0 0.5rem 0 0.55rem;
  position: relative;
}
body.archive .content-area article .tit-container .location:before {
  background-color: #fff;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  width: 1px;
}
body.archive .content-area article.upper {
  margin-top: -14rem;
  padding-bottom: 0rem;
}
body.archive .content-area article.upper-upper {
  margin-top: -5rem;
  padding-bottom: 0rem;
}
body.archive .content-area article.post-i-mod-0 {
  align-self: flex-end;
}
body.archive .site-footer {
  background-color: #000000;
}
body.archive .site-footer .footer-continer.content-width {
  padding-top: 0;
}

/** *********************
  SINGLE PROJECT
 ******* */
body.single-projects .hentry {
  margin-top: 4rem;
}
body.single-projects .client span {
  background-color: #FC0606;
  color: #ffffff;
  display: inline-block;
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
  padding: 4px 8px;
}
body.single-projects .post-title {
  color: #ffffff;
  font-size: 96px;
  font-family: "Neue Machina", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
  text-transform: uppercase;
  margin: 2.5rem 0 2rem 0;
}
body.single-projects .location {
  color: #ffffff;
  font-family: "ivypresto-display", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}
body.single-projects .entry-content {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 4rem;
}
body.single-projects .owl-carousel {
  position: relative;
  margin-top: 4rem;
}
body.single-projects .owl-carousel .owl-slide {
  border-radius: 2rem;
  overflow: hidden;
}
body.single-projects .owl-carousel .owl-nav {
  position: absolute;
  left: -180px;
  top: calc(50% - 90px);
}
body.single-projects .owl-carousel .owl-nav .owl-prev {
  width: 90px;
  height: 180px;
  background-color: #FC0606;
  border-radius: 10rem 0 0 10rem;
  opacity: 0.9;
  transition: all 0.4s ease-in-out;
}
body.single-projects .owl-carousel .owl-nav .owl-next {
  width: 90px;
  height: 180px;
  background-color: #FC0606;
  border-radius: 0 10rem 10rem 0;
  opacity: 0.9;
  transition: all 0.4s ease-in-out;
}
body.single-projects .owl-carousel .owl-nav .owl-prev:hover,
body.single-projects .owl-carousel .owl-nav .owl-next:hover {
  opacity: 1;
}
body.single-projects .owl-carousel .owl-nav .owl-prev.disabled, body.single-projects .owl-carousel .owl-nav .owl-prev.disabled,
body.single-projects .owl-carousel .owl-nav .owl-next.disabled,
body.single-projects .owl-carousel .owl-nav .owl-next.disabled {
  opacity: 0.6;
  transition: all 0.4s ease-in-out;
}

/** *********************
  LIGHT MODE
 ******* */
body.light-mode {
  background-color: #fff;
  color: #161616;
  /* HEADER */
  /* HOME PAGE */
  /* ABOUT */
  /* FOOTER */
}
body.light-mode a {
  color: #161616;
}
body.light-mode .header .dark-mode-hamburger .dark-mode-container span {
  color: #161616;
}
body.light-mode .home-intro-top .home-intro-top-base,
body.light-mode .home-video-scroll,
body.light-mode .home-iptv,
body.light-mode .home-computer {
  color: #161616;
}
body.light-mode .page-link {
  color: #161616;
}
body.light-mode .about-we-crush .about-we-crush-slide.about-we-crush-slide-1 {
  background-color: #ffffff;
  color: #000000;
}
body.light-mode .site-footer .row-sentence,
body.light-mode .site-footer .row-sedi .sede-i {
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
