@font-face {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/PPNeueMachinaInktrapUltrabold.eot');
    src: url('../fonts/PPNeueMachinaInktrapUltrabold.eot') format('embedded-opentype'),
    url('../fonts/PPNeueMachinaInktrapUltrabold.woff2') format('woff2'),
    url('../fonts/PPNeueMachinaInktrapUltrabold.woff') format('woff'),
    url('../fonts/PPNeueMachinaInktrapUltrabold.ttf') format('truetype'),
    url('../fonts/PPNeueMachinaInktrapUltrabold.svg#PPNeueMachinaInktrapUltrabold') format('svg');
}

@font-face {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/PPNeueMachinaInktrapUltrabold.eot');
    src: url('../fonts/PPNeueMachinaInktrapUltrabold.eot') format('embedded-opentype'),
    url('../fonts/PPNeueMachinaInktrapUltrabold.woff2') format('woff2'),
    url('../fonts/PPNeueMachinaInktrapUltrabold.woff') format('woff'),
    url('../fonts/PPNeueMachinaInktrapUltrabold.ttf') format('truetype'),
    url('../fonts/PPNeueMachinaInktrapUltrabold.svg#PPNeueMachinaInktrapUltrabold') format('svg');
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url('../css/fontawesome/webfonts/fa-solid-900.eot');
    src: url('../css/fontawesome/webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('../css/fontawesome/webfonts/fa-solid-900.woff2') format('woff2'),
    url('../css/fontawesome/webfonts/fa-solid-900.woff') format('woff'),
    url('../css/fontawesome/webfonts/fa-solid-900.ttf') format('truetype'),
    url('../css/fontawesome/webfonts/fa-solid-900.svg#fontawesome') format('svg');
}