
/** *********************
  FOOTER
 ************************ */
.site-footer {
  display: flex;
  flex-direction: column;
  position: relative;

  .footer-container {
    margin: auto;
    white-space: nowrap;

    .row-email {
      color: var(--red, #FC0606);
      font-family: 'Neue Machina', sans-serif;
      font-size: 16px;
      font-weight: 800;
      line-height: 1.1;
      letter-spacing: 3.78px;
      text-transform: uppercase;
      margin-bottom: 1rem;

      @media (max-width: 1180px) {
        font-size: 12px;
        letter-spacing: normal;
      }

      @media (max-width: 1024px) {
        font-size: 10px;
      }


      a {
        color: var(--red, #FC0606);
      }
    }

    .row-sentence {
      color: var(--light-grey, #F4F4F4);
      font-family: 'Neue Machina', sans-serif;
      font-size: 96px;
      font-size: 4.8vw;
      font-weight: 800;
      line-height: 109.5%;
      line-height: 1.1;

      text-transform: uppercase;

      span {
        font-family: "ivypresto-display", serif;
        font-size: 96px;
        font-size: 4.8vw;
        font-style: italic;
        font-weight: 300;
        line-height: 1.1;
        letter-spacing: 0em;
        text-align: left;
        position: relative;

        .anim-togheter {
          align-items: center;
          background: url(../img/anim-togheter.gif), lightgray 50% / cover no-repeat;
          display: none;
          height: 214.004px;
          transform: rotate(7.277deg);
          padding: 0px 23.985px 47.488px 0px;
          justify-content: center;
          width: 389.48px;
          position: absolute;
          top: 0;
          left: calc(30% - 107px);
        }

        &:hover .anim-togheter {
          display: block;
        }
      }
    }
  }

  .footer-sedi-container {
    .row-sedi {
      display: flex;
      gap: 20px;
      text-align: center;

      @media (max-width: 1024px) {
        flex-wrap: wrap;
      }

      .sede-i {
        color: #F4F4F4;
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: 700;
        line-height: 150%;
        width: 100%;
        z-index: 10;

        @media (max-width: 1180px) {
          margin-top: 1rem;
        }

        @media (max-width: 1024px) {
          margin-top: 1rem;
          width: calc(50% - 20px);
        }

        @media (max-width: 576px) {
          margin-top: 1rem;
          width: 100%;
        }

        .location {
          color: #FC0606;
          font-size: 30px;
          margin-bottom: 20px;
        }

        .address-container {
          font-size: 16px;
          white-space: normal;

          .phone {
            a {
              display: inline-block;
              padding: 0 20px;
              position: relative;

              i {
                font-size: 11px;
              }

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .email {
            a {
              color: red;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }


  .bg-image {
    background-image: url("../img/bg-footer-image-2025.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
    padding: 100px 0 10px 0;

    @media (max-width: 1180px) {
      padding: 0 0 10px 0;
    }

    &:before {
      content: "";
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }


    @media (max-width: 576px) {
      background-image: url("../img/bg-footer-image-2025-vertical.jpg");
      &:before {
        background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%)
      }
    }
  }

  .footer-social {
    text-align: center;
    z-index: 10;
    position: relative;

    .content-width {
      padding: 10px 0;
    }

    &:before {
      content: "";
      display: block;
      height: 1px;
      border-top: 1px dashed white;
      width: 50%;
      margin: 0 auto;
      max-width: 400px;
    }

    .text {
      color: white;
    }

    .social {
      display: flex;
      justify-content: center;
      margin-top: 15px;

      a {
        margin: 0 5px;

        svg {
          height: 50px;
          width: 50px;

          @media (max-width: 576px) {
            height: 40px;
            width: 40px;
          }

        }
      }
    }
  }

  .copy {
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;

    @media (max-width: 1024px) {
      text-align: center;
    }

    .content-width {
      padding: 15px 0;
    }
  }
}
