@charset "UTF-8";

@import "_fonts";
@import "_base";
@import "_base_wp";
@import "_animations";

body {
  background-color: #000;
  transition: all 0.4s linear;
}

/** *********************
  GENERICO
 ************************ */
.content-width {
  margin: auto;
  max-width: 1180px;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100%;
}

[data-paroller-factor] {
  position: relative;
  z-index: 0
}

.swiper {
  width: 100%;
  height: 100%;
}

/** *********************
  HEADER
 ************************ */
.header {
  display: flex;
  flex-direction: column;
  height: 72px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;

  .header-container {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin: auto;
    width: 80%;
  }

  .logo {
    display: flex;
    flex-direction: column;

    a {
      display: block;
      margin: auto;
    }

    .only-text {
      padding-left: 10px;
    }
  }

  .dark-mode-hamburger {
    display: flex;

    .dark-mode-container {
      display: flex;
      margin: auto 40px auto auto;

      span {
        display: inline-block;
        height: 22px;
        color: #D9D9D9;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        line-height: 150%;
      }

      input.dark-mode-switch {
        height: 0;
        width: 0;
        visibility: hidden;
      }

      label.switch {
        background: #ffffff;
        border-radius: 22px;
        cursor: pointer;
        display: block;
        height: 22px;
        position: relative;
        text-indent: -9999px;
        width: 50px;

        span {
          font-size: 14px;
        }

        &:after {
          content: '';
          background: #000;
          border-radius: 14px;
          height: 14px;
          left: calc(100% - 19px);
          position: absolute;
          transition: all 0.4s linear;
          top: 4px;
          width: 14px;
        }
      }

      input:checked + label {
        background: #000000;
      }

      input:checked + label:after {
        background: #ffffff;
        left: 19px;
        transform: translateX(-100%);
      }

      label:active:after {
        width: 16px;
      }
    }

    .menu-container-opener {
      display: flex;

      a {
        margin: auto;
      }

      svg {
        pointer-events: none;
      }
    }
  }

  .menu-close {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: 'Neue Machina', sans-serif;
    font-size: 28px;
    font-size: 1.46vw;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;

    a {
      color: #ffffff;
      display: inline-block;
      margin: auto;
    }
  }
}

/** *********************
  MENUs
 ************************ */
.menu-container {
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;

  .header {
    position: absolute;
  }

  .menu-area {
    position: relative;
    padding-bottom: 40px;
    padding-top: 40px;

    .main-navigation {

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      a {
        display: block;
        color: #ffffff;
        position: relative;
        //transition: all 0.4s ease-in-out;
        text-transform: uppercase;
        transition: font-size 2.2s ease, font-family .2s ease;

        span.font-1 {
          display: block;
          opacity: 1;
          color: #ffffff;
          font-family: 'Neue Machina', sans-serif;
          font-size: 120px;
          font-size: 6.25vw;
          font-weight: 900;
          line-height: 88%;

          transition: all .2s ease-in-out;
        }

        span.font-2 {
          display: block;
          left: 0;
          height: 100%;
          opacity: 0;
          position: absolute;
          top: -17px;
          width: 100%;

          color: var(--red, #FC0606);
          font-family: "ivypresto-display", serif;
          font-size: 120px;
          font-size: 6.25vw;
          font-style: italic;
          font-weight: 300;
          line-height: 106px;
          letter-spacing: 0em;
          transition: all .4s ease-in-out;
        }

        &:hover {
          span.font-1 {
            opacity: 0;
          }

          span.font-2 {
            opacity: 1;
          }
        }
      }
    }

    .social-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      right: 0;
      position: absolute;
      top: 0;

      .social {
        display: flex;
        flex-direction: column;
        margin: auto;

        a {
          display: inline-block;
          margin-bottom: 10px;
          margin-top: 10px;

          svg {
            pointer-events: none;
          }

          svg path {
            transition: fill .4s ease;
          }

          &:hover svg path {
            fill: var(--red, #FC0606);
          }
        }
      }
    }

    .download-email {
      bottom: 0;
      display: flex;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      left: 0;
      line-height: 150%;
      position: absolute;

      display: none;

      a {
        display: inline-block;
        padding-left: 6px;
        padding-right: 6px;
        position: relative;

        &:first-child {
          padding-left: 0px;

          &:before {
            display: none;
          }
        }

        &:before {
          background-color: #ffffff;
          content: '';
          display: block;
          height: 60%;
          left: 0;
          position: absolute;
          top: 20%;
          width: 1px;
        }
      }
    }
  }


}

/** *********************
  HOME PAGE
 ************************ */
.home-section {
  .row-ivy {
    font-family: "ivypresto-display", serif;
    font-size: 96px;
    font-size: 4.6vw;
    font-size: 3.6vw;
    font-style: italic;
    font-weight: 300;
    line-height: 110px;
    line-height: 1.2;
    letter-spacing: 0em;
  }

  .row-neue {
    font-family: 'Neue Machina', sans-serif;
    font-size: 96px;
    font-size: 4.8vw;
    font-size: 3.8vw;
    font-weight: 800;
    line-height: 110px;
    line-height: 1.2;
    letter-spacing: 0em;
  }
}

.home-intro-top {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .home-intro-top-base {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .home-intro-top-base-testo {
      margin: auto;
      white-space: nowrap;
    }
  }

  .home-intro-top-hover {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.4s ease-in-out;
    top: 0;
    width: 100%;

    video {
      min-height: 100%;
      left: 0;
      height: auto;
      object-fit: cover;
      position: absolute;
      width: 100%;
      top: 0;
      //min-height: 100%;
    }

    .home-intro-top-hover-testo {
      background-color: #FC0606;
      color: #ffffff;
      font-family: "ivypresto-display", serif;
      font-size: 96px;
      font-size: 4.8vw;
      font-style: italic;
      font-weight: 300;
      line-height: 110px;
      line-height: 1.2;
      letter-spacing: 0em;
      margin: auto;
      opacity: 0;
      padding: 0 20px;
      transition: all 1s ease-in-out;
      z-index: 1;
    }

  }

  &:hover {
    .home-intro-top-hover {
      opacity: 1;
    }

    .home-intro-top-hover-testo {
      opacity: 1;
    }
  }
}

.home-video-scroll {
  color: #ffffff;
  text-align: center;

  .home-video-scroll-inner {
    height: 350vh;
    position: relative;
    overflow: hidden;

    .home-video-scroll-livello-base {
      position: absolute;
      top: 35%;
      left: 0;
      width: 100%;
      height: 300%;
    }

    .home-video-scroll-livello-medio {
      height: 100%;
      width: 100%;

      .home-video-scroll-text {
        position: relative;
        height: calc(100vh - 46px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 250ms ease-in-out;
      }
    }

    .home-video-scroll-livello-top {
      position: absolute;
      top: 35%;
      left: 0;
      width: 100%;
      height: 300%;
    }

  }

  .home-video-scroll-elem {
    margin: auto;
    position: relative;

    video {
      height: 100%;
      transform: translateX(50%);
    }
  }

  .video-1 {
    height: 580px;
    overflow: hidden;
    transform: rotate(-15deg) translate(120%, -5%);
    width: 350px;

    video {
      transform: translateX(calc(-1 * calc(50% - 175px)));
    }
  }

  .video-2 {
    flex-shrink: 0;
    height: 500px;
    overflow: hidden;
    transform: rotate(18deg) translate(-145%, -65%);
    width: 350px;

    video {
      transform: translateX(calc(-1 * calc(50% - 175px)));
    }
  }

  .video-3 {
    height: 500px;
    overflow: hidden;
    transform: rotate(5deg) translate(-105%, -50%);
    width: 350px;

    video {
      transform: translateX(calc(-1 * calc(50% - 175px)));
    }
  }

  .video-4 {
    width: 596px;
    overflow: hidden;
    transform: rotate(12deg) translate(80%, 50%);
    height: 346px;

    video {
      transform: translateX(calc(-1 * calc(50% - 175px)));
    }
  }
}

.home-fascia-rossa {
  background-color: #FC0606;
  display: flex;
  height: 987px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -120px;
  flex-shrink: 0;
}


.category-section{
  overflow: hidden;
}
.effetto-fascia-rossa {
  background-color: #FC0606;
  border-radius: 50px;
  height: 120%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition-delay: 250ms;
  transition: height 2000ms ease-in-out, width 2000ms ease-in-out, top 2000ms ease-in-out, opacity 3000ms ease-in-out;
  top: 0%;
  width: 110%;

  &.is-inview{
    height: 0px;
    opacity: 0;
    top: 17%;
    width: 0px;
  }
}

.sections-from-bottom,
.category-section {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .panel {
    background-color: #000000;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;

    .content-width {
      margin: auto;
    }

    .panel-content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

.home-iptv {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  .home-iptv-container {
    margin: auto;

    h2.row-ivy {
      font-size: 96px;
      line-height: 130%;
    }

    h2.row-neue {
      font-size: 96px;
      line-height: 130%;
    }

    .text {
      font-size: 16px;
      font-family: 'Alegreya Sans', sans-serif;
      font-weight: 300;
      line-height: 145%;
    }
  }
}

.home-computer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  .home-iptv-container {
    margin: auto;

    h2.row-ivy {
      font-size: 96px;
      line-height: 130%;
    }

    .text {
      font-size: 16px;
      font-family: 'Alegreya Sans', sans-serif;
      font-weight: 300;
      line-height: 145%;
    }
  }
}

.page-link {
  color: #ffffff;
  overflow: hidden;
  padding-top: 15vw;
  text-transform: uppercase;
  white-space: nowrap;

  .page-link-top-line {
    font-family: "ivypresto-display", serif;
    font-size: 160px;
    font-size: 8.3vw;
    font-style: italic;
    font-weight: 100;
    line-height: 175px;
    line-height: 1.1;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;

    a {
      display: inline-block;
      margin: 0 3vw;
    }
  }

  .page-link-bottom-line {
    font-family: 'Neue Machina', sans-serif;
    font-size: 160px;
    font-size: 8.3vw;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;

    a {
      display: inline-block;
      margin: 0 3vw;
    }
  }

  .trattino {
    padding: 0 0.5rem;
  }
}

/** *********************
  ABOUT
 ************************ */
.about-intro-top {
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .video {
    background-color: #000000;
    height: 100%;
    left: 0;
    position: absolute;
    transition: all 0.4s ease-in-out;
    top: 0;
    width: 100%;

    video {
      position: absolute;
      width: 100%;
    }
  }

  .testo-container {
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 100;
    transition: all 0.6s ease-in-out;

    &:hover {
      backdrop-filter: blur(0px);
    }
  }

  .testo {
    font-family: 'Neue Machina', sans-serif;
    font-size: 96px;
    font-size: 4.8vw;
    font-weight: 800;
    line-height: 105px;
    letter-spacing: 0em;
    margin: auto;
    text-align: left;
    transition: all 0.4s ease-in-out;

    span {
      font-family: "ivypresto-display", serif;
      font-size: 96px;
      font-size: 4.8vw;
      font-style: italic;
      font-weight: 300;
      line-height: 106px;
      letter-spacing: 0em;
    }
  }

  .arrow-down {
    position: absolute;
    left: calc(50% - 12px);
    bottom: 5%;
    z-index: 100;
  }
}

.about-we-crush {
  height: 100vh;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  .panel {
    height: 100%;
    width: 100%;
    position: absolute;

    .content-width {
      margin: auto;
    }

    .panel-content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &.panel-1 {
      background-color: #ffffff;
      color: #000000;
      text-transform: uppercase;

      .sent-1 {
        font-family: 'Neue Machina', sans-serif;
        font-size: 96px;
        font-size: 4.8vw;
        font-weight: 800;
        line-height: 1.1;
        letter-spacing: 0em;
      }

      .sent-2 {
        font-family: "ivypresto-display", serif;
        font-size: 96px;
        font-size: 4.8vw;
        font-style: italic;
        font-weight: 300;
        line-height: 1.1;
        letter-spacing: 0em;
        position: relative;

        .sent-amp {
          display: inline-block;
          font-family: "ivypresto-display", serif;
          font-size: 240px;
          font-size: 12.5vw;
          font-style: italic;
          font-weight: 300;
          line-height: 1.1;
          letter-spacing: 0em;
          padding-left: 5rem;
          position: absolute;
          bottom: 0;
        }
      }

      .sent-3 {
        .sent-3-1 {
          font-family: 'Neue Machina', sans-serif;
          font-size: 96px;
          font-size: 4.8vw;
          font-weight: 800;
          line-height: 1.1;
          letter-spacing: 0em;
        }

        .sent-3-2 {
          font-family: "ivypresto-display", serif;
          font-size: 96px;
          font-size: 4.8vw;
          font-style: italic;
          font-weight: 300;
          line-height: 1.1;
          letter-spacing: 0em;
          position: relative;

          .video {
            height: 250px;
            opacity: 0;
            position: absolute;
            right: 0px;
            overflow: hidden;
            top: -50px;
            transform: rotate(-10.488deg);
            transition: all 0.4s ease-in-out;
            width: 185px;

            video {
              transform: translateX(calc(-1 * calc(50% - 90px)));
            }
          }

          &:hover {
            .video {
              opacity: 1;
            }
          }
        }
      }

      .dot {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 10%;
        //cursor: pointer;
        height: 48px;
        right: 10%;
        text-align: center;
        width: 48px;

        span {
          position: absolute;
          top: -10px;
          left: -10px;
          height: 100%;
          width: 100%;
        }

        svg {
          margin: auto;
          z-index: 10;
        }
      }
    }

    &.panel-2 {
      background-color: #000000;
      color: #ffffff;
      text-transform: uppercase;
      z-index: 10;

      .sent-1,
      .sent-3 {
        display: inline;
        font-family: "ivypresto-display", serif;
        font-size: 96px;
        font-size: 4.8vw;
        font-style: italic;
        font-weight: 300;
        line-height: 1.1;
        letter-spacing: 0em;
        position: relative;


        .video {
          height: 185px;
          opacity: 0;
          position: absolute;
          left: -80%;
          overflow: hidden;
          top: 20%;
          transform: rotate(-10.488deg);
          transition: all 0.4s ease-in-out;
          width: 250px;

          video {
            transform: translateX(calc(-1 * calc(50% - 125px)));
          }
        }

        &:hover {
          .video {
            opacity: 1;
          }
        }
      }

      .sent-2,
      .sent-4 {
        display: inline;
        font-family: 'Neue Machina', sans-serif;
        font-size: 96px;
        font-size: 4.8vw;
        font-weight: 800;
        line-height: 1.1;
        letter-spacing: 0em;
      }

      .dot {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 10%;
        //cursor: pointer;
        height: 48px;
        right: 10%;
        text-align: center;
        width: 48px;

        span {
          position: absolute;
          top: -10px;
          left: -10px;
          height: 100%;
          width: 100%;
        }

        svg {
          margin: auto;
          z-index: 10;

          path {
          }
        }
      }
    }
  }
}

.about-our-client-have {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  .testo-container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
    margin-top: 20vh;
    width: 100%;

    .testo {
      font-family: 'Neue Machina', sans-serif;
      font-size: 96px;
      font-size: 4.8vw;
      font-weight: 800;
      line-height: 120.5%;
      text-transform: uppercase;
    }
  }
}

.about-world {
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .video {
    background-color: #000000;
    height: 100%;
    left: 0;
    position: absolute;
    transition: all 0.4s ease-in-out;
    top: 0;
    width: 100%;
    text-align: center;

    video {
      position: absolute;
      transform: translateX(-50%);
      height: 100%;
    }
  }

  .testo-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 100;
    transition: all 0.6s ease-in-out;
  }

  .testo {
    margin: auto;
    text-transform: uppercase;
    z-index: 1;

    .sent-1 {
      color: #FFF;
      font-family: "ivypresto-display", serif;
      font-size: 96px;
      font-size: 4.8vw;
      font-style: italic;
      font-weight: 300;
      line-height: 1.1;
    }

    .sent-2 {
      font-family: 'Neue Machina', sans-serif;
      font-size: 96px;
      font-size: 4.8vw;
      font-weight: 800;
      line-height: 1.1;
      letter-spacing: 0em;
      margin: auto;
      text-align: left;
    }
  }

  .country-list{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .country-1{
      font-family: "ivypresto-display", serif;
      font-size: 4vw;
      font-style: italic;
      font-weight: 300;
      left: 10%;
      line-height: 1;
      position: absolute;
      top: 10%;
    }
    .country-2{
      font-family: 'Neue Machina', sans-serif;
      font-size: 4vw;
      font-style: italic;
      font-weight: 800;
      left: 15%;
      line-height: 1;
      position: absolute;
      top: 20%;
    }
    .country-3{
      bottom: 18%;
      font-family: "ivypresto-display", serif;
      font-size: 4vw;
      font-style: italic;
      font-weight: 300;
      left: 10%;
      line-height: 1;
      position: absolute;
    }
    .country-4{
      bottom: 10%;
      font-family: 'Neue Machina', sans-serif;
      font-size: 4vw;
      font-style: italic;
      font-weight: 800;
      left: 25%;
      line-height: 1;
      position: absolute;
    }
    .country-5{
      bottom: 35%;
      font-family: 'Neue Machina', sans-serif;
      font-size: 4vw;
      font-style: italic;
      font-weight: 800;
      left: 50%;
      line-height: 1;
      position: absolute;
    }
    .country-6{
      font-family: "ivypresto-display", serif;
      font-size: 4vw;
      font-style: italic;
      font-weight: 300;
      right: 30%;
      line-height: 1;
      position: absolute;
      top: 18%;
    }
    .country-7{
      font-family: "ivypresto-display", serif;
      font-size: 4vw;
      font-style: italic;
      font-weight: 300;
      right: 20%;
      line-height: 1;
      position: absolute;
      top: 65%;
    }
    .country-8{
      bottom: 55%;
      font-family: 'Neue Machina', sans-serif;
      font-size: 4vw;
      font-style: italic;
      font-weight: 800;
      right: 10%;
      line-height: 1;
      position: absolute;
    }
    .country-9{
      bottom: 85%;
      font-family: 'Neue Machina', sans-serif;
      font-size: 4vw;
      font-style: italic;
      font-weight: 800;
      right: 5%;
      line-height: 1;
      position: absolute;
    }
    .country-10{
      bottom: 5%;
      font-family: 'Neue Machina', sans-serif;
      font-size: 4vw;
      font-style: italic;
      font-weight: 800;
      right: 5%;
      line-height: 1;
      position: absolute;
    }
  }
}

.about-partners {
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .testo-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 100;
    transition: all 0.6s ease-in-out;
  }

  .testo {
    margin: auto;
    text-transform: uppercase;

    .title {
      font-family: 'Neue Machina', sans-serif;
      font-size: 96px;
      font-size: 4.8vw;
      font-weight: 800;
      line-height: 105px;
      letter-spacing: 0em;
      margin-bottom: 3rem;
      text-align: left;
    }
  }

  .logo-row {
    display: flex;
    justify-content: space-between;

    .img-i {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      margin-top: 2rem;
      max-width: 18%;
      max-height: 4.4rem;
      text-align: center;


      &.img-i-first {
        text-align: left;
      }

      &.img-i-last {
        text-align: right;
      }

    }

    img {
      margin-bottom: auto;
      margin-top: auto;
      max-height: 100%;
    }

    &.logo-row-black {
      height: 0;
      opacity: 0;
    }
  }


}

.about-clients {
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .testo-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 100;
    transition: all 0.6s ease-in-out;
  }

  .testo {
    margin: auto;
    text-transform: uppercase;

    .title {
      font-family: 'Neue Machina', sans-serif;
      font-size: 96px;
      font-size: 4.8vw;
      font-weight: 800;
      line-height: 105px;
      letter-spacing: 0em;
      margin-bottom: 3rem;
      text-align: left;
    }
  }

  .logo-row {
    display: flex;
    justify-content: space-between;

    .img-i {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      margin-top: 2rem;
      max-width: 18%;
      max-height: 4.4rem;
      text-align: center;


      &.img-i-first {
        text-align: left;
      }

      &.img-i-last {
        text-align: right;
      }

    }

    img {
      margin-bottom: auto;
      margin-top: auto;
      max-height: 100%;
    }

    &.logo-row-black {
      height: 0;
      opacity: 0;
    }
  }
}

.about-testimonial {
  color: #ffffff;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .testo-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 100;
    transition: all 0.6s ease-in-out;
  }

  .title {
    font-family: 'Neue Machina', sans-serif;
    font-size: 96px;
    font-size: 4.8vw;
    font-weight: 800;
    line-height: 105px;
    letter-spacing: 0em;
    margin-bottom: 3rem;
    text-align: left;

    span {
      font-family: "ivypresto-display", serif;
      font-size: 96px;
      font-size: 4.8vw;
      font-style: italic;
      font-weight: 300;
      line-height: 106px;
      letter-spacing: 0em;
      position: relative;
    }
  }

  .testimonial-container {
    padding-bottom: 148px;
  }

  .testimonial-slide {
    margin: auto;
    display: flex;

    .img {
      background-repeat: no-repeat;
      border-radius: 42px;
      overflow: hidden;
      position: relative;
      width: 35%;

      background-blend-mode: luminosity;
      background-color: #000000;

      img {
        max-width: 100%;
        visibility: hidden;
      }

      &:after {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.03%, rgba(0, 0, 0, 0.8) 90%);
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    .data-container {
      display: flex;
      flex-direction: column;
      margin-left: 7%;
      width: 58%;
    }

    .data {
      color: #ffffff;
      margin: auto;

      .description {
        font-size: 24px;
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: 300;
        line-height: 140%;
        margin-bottom: 32px;
        margin-top: 32px;
      }

      .societa {
        display: flex;
        text-transform: uppercase;
      }

      .logo {
        position: relative;
        margin-left: 20px;
        padding-left: 21px;

        .logo-black {
          display: none;
        }

        &:before {
          background-color: #ffffff;
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 1px;
        }
      }

      .nome {
        font-family: "ivypresto-display", serif;
        font-size: 18px;
        font-size: 0.93vw;
        font-style: italic;
        font-weight: 300;
        line-height: 150%;
      }

      .societa {
        color: #ffffff;
        font-family: 'Neue Machina', sans-serif;
        font-size: 16px;
        font-size: 0.833vw;
        font-weight: 800;
        line-height: 150%;
      }
    }
  }

  .swiper-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 100%;

    .swiper-pagination {
      left: 0;
      position: absolute;
      width: auto;

      .swiper-pagination-bullet {
        background-color: #8D8D8D;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background-color: #ffffff;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 0;
    width: 49px;
    height: 49px;
    margin-top: 0;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      display: none;
    }
  }

  .swiper-button-prev {
    left: auto;
    right: 55px;
    transform: rotate(180deg);
  }

  .swiper-button-next {
    right: 0;
  }
}

.about-section.about-clients {
  display: flex !important;
}

/** *********************
  FOOTER
 ************************ */
.site-footer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  .footer-continer {
    margin: auto;
    white-space: nowrap;
  }

  .row-email {
    color: var(--red, #FC0606);
    font-family: 'Neue Machina', sans-serif;
    font-size: 21px;
    font-size: 1.09vw;
    font-weight: 800;
    line-height: 120px;
    letter-spacing: 3.78px;
    text-transform: uppercase;

    a {
      color: var(--red, #FC0606);
    }
  }

  .row-sentence {
    color: var(--light-grey, #F4F4F4);
    font-family: 'Neue Machina', sans-serif;
    font-size: 96px;
    font-size: 4.8vw;
    font-weight: 800;
    line-height: 109.5%;
    text-transform: uppercase;

    span {
      font-family: "ivypresto-display", serif;
      font-size: 96px;
      font-size: 4.8vw;
      font-style: italic;
      font-weight: 300;
      line-height: 106px;
      letter-spacing: 0em;
      text-align: left;
      position: relative;

      .anim-togheter {
        align-items: center;
        background: url(../img/anim-togheter.gif), lightgray 50% / cover no-repeat;
        display: none;
        height: 214.004px;
        transform: rotate(7.277deg);
        padding: 0px 23.985px 47.488px 0px;
        justify-content: center;
        width: 389.48px;
        position: absolute;
        top: 0;
        left: calc(30% - 107px);
      }

      &:hover .anim-togheter {
        display: block;
      }
    }

  }

  .row-sedi {
    display: flex;

    .sede-i {
      color: #F4F4F4;
      font-size: 14px;
      font-family: 'Alegreya Sans', sans-serif;
      font-weight: 700;
      line-height: 150%;
      width: 50%;

      .location {
        color: #FC0606;
      }

      .address-container {
        display: flex;

        .address {
          width: 50%;
        }

      }
    }
  }
}

/** *********************
  ARCHIVE
 ******* */
body.archive {
  .page-title {
    display: none;
  }

  .project-category {
    left: 0;
    position: fixed;
    top: 5rem;
    width: 100%;

    .container {
      display: flex;
      justify-content: center;
    }

    .container-1 {
      display: flex;
      justify-content: center;
      position: relative;

      .cat-i {
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: all 0.4s ease-in-out;

        a {
          display: block;
          margin: auto;
          font-size: 24px;
          font-weight: 300;
          line-height: 140%;
          padding: 0.3rem 1rem;
          text-transform: uppercase;
          transition: all 0.4s ease-in-out;

          &:hover {
            background-color: #FC0606;
          }
        }

        &.cat-1 {
          font-family: 'Neue Machina', sans-serif;
        }

        &.cat-2 {
          font-family: "ivypresto-display", serif;
        }

      }

      .star {
        margin: auto 3rem;
        transition: all 0.4s ease-in-out;
      }

      &:hover {
        .cat-i {
          opacity: 1;
        }

        .star {
          transform: rotateX(-360deg) rotateY(360deg);
        }
      }
    }
  }

  .page-link {
    left: 0;
    padding-top: 0;
    position: fixed;
    top: 14rem;
    width: 100%;

    .page-link-top-line {
      font-size: 100px;
      line-height: 105px;
    }

    .page-link-bottom-line {
      font-size: 100px;
      line-height: 105px;
    }
  }

  .content-area {
    margin-top: 35rem;
    min-height: 100vh;
    position: relative;

    .site-main {
      display: flex;
      flex-direction: column;
    }

    article {
      padding-bottom: 4rem;
      width: calc(50% - 50px);

      &#post-11578 {
        width: 80%;
      }


      //50% meno la metà della larghezza della stella -5px ancora tanto per farli passare vicinissimi
      .article-container {
        max-width: 70%;

        &.left {
          margin-left: 0;
          margin-right: auto;
        }

        &.right {
          margin-left: auto;
          margin-right: 0;
        }

        &.center {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .img {
        border-radius: 2rem;
        overflow: hidden;
      }

      .tit-container {
        font-size: 24px;
        padding: 16px 0;
        text-align: center;

        .inner,
        a {
          display: flex;
          justify-content: center;
        }

        .client {
          display: inline-block;
          padding: 0 0.5rem;
        }

        .location {
          display: inline-block;
          padding: 0 0.5rem 0 0.55rem;
          position: relative;

          &:before {
            background-color: #fff;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            width: 1px;
          }
        }
      }

      &.upper {
        margin-top: -14rem;
        padding-bottom: 0rem;
      }

      &.upper-upper {
        margin-top: -5rem;
        padding-bottom: 0rem;
      }

      &.post-i-mod-0 {
        align-self: flex-end;
      }
    }
  }

  .site-footer {
    background-color: #000000;

    .footer-continer.content-width {
      padding-top: 0;
    }
  }
}

/** *********************
  SINGLE PROJECT
 ******* */
body.single-projects {

  .hentry {
    margin-top: 4rem;
    position: relative;
  }

  .client {
    span {
      background-color: #FC0606;
      color: #ffffff;
      display: inline-block;
      font-size: 31px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      text-transform: uppercase;
      padding: 4px 8px;
    }
  }

  .post-title {
    color: #ffffff;
    font-family: 'Neue Machina', sans-serif;
    font-size: 96px;
    font-size: 4.8vw;
    font-style: normal;
    font-weight: 900;
    line-height: 90%;
    text-transform: uppercase;
    margin: 2.5rem 0 2rem 0;

    .smaller {
      font-size: 60px;
      font-size: 3.12vw;
    }
  }

  .location {
    color: #ffffff;
    font-family: "ivypresto-display", serif;
    font-size: 32px;
    font-size: 1.66vw;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
  }

  .entry-content {
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 4rem;

    -webkit-columns: 40px 2;
    /* Chrome, Safari, Opera */
    -moz-columns: 60px 2;
    /* Firefox */
    columns: 60px 2;
  }

  .entry-video {
    text-align: center;
  }

  .owl-carousel {
    position: relative;
    margin-top: 4rem;

    .owl-slide {
      border-radius: 2rem;
      overflow: hidden;
    }

    .owl-nav {
      position: absolute;
      left: -180px;
      top: calc(50% - 90px);

      .owl-prev {
        width: 90px;
        height: 180px;
        background-color: #FC0606;
        border-radius: 10rem 0 0 10rem;
        opacity: 0.9;
        transition: all 0.4s ease-in-out;
        text-align: right;

        img {
          transform: rotate(180deg);
        }


        &:hover {
          opacity: 1;
          transform: scale(1.02);

          img {
            transform: rotate(180deg) translateX(10px);
          }
        }

      }

      .owl-next {
        width: 90px;
        height: 180px;
        background-color: #FC0606;
        border-radius: 0 10rem 10rem 0;
        opacity: 0.9;
        transition: all 0.4s ease-in-out;
        text-align: left;

        &:hover {
          opacity: 1;
          transform: scale(1.02);

          img {
            transform: translateX(10px);
          }
        }
      }

      .owl-prev,
      .owl-next {
        position: relative;

        span {
          display: none;
        }

        img {
          transition: all 0.3s ease-in-out;
        }

        &.disabled,
        &.disabled {
          opacity: 0.6;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }

  .prj-gallery-container {
    margin-left: calc(50% - 590px);
  }

  .prj-image-container {
    margin-top: 4rem;
  }

  .dot-container {
    height: 50px;
    margin-top: 2rem;
    position: relative;
  }

  .dot {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    //cursor: pointer;
    height: 48px;
    right: 10%;
    text-align: center;
    width: 48px;

    span {
      position: absolute;
      top: -10px;
      left: -10px;
      height: 100%;
      width: 100%;
    }

    svg {
      margin: auto;
      transform: translateX(2px);
      z-index: 10;
    }
  }
}

/** *********************
  LIGHT MODE
 ******* */
body.light-mode {
  background-color: #fff;
  color: #161616;

  a {
    color: #161616;
  }

  /* HEADER */
  .header .dark-mode-hamburger .dark-mode-container span {
    color: #161616;
  }

  .menu-container-opener {
    svg {
      path {
        fill: #000000;
      }
    }
  }

  /* HOME PAGE */
  .home-intro-top .home-intro-top-base,
  .home-video-scroll,
  .home-iptv,
  .home-computer {
    color: #161616;
  }

  .category-section {
    .panel {
      background-color: #ffffff;

      .panel-content {
      }
    }

  }

  .page-link {
    color: #161616;
  }

  /* ABOUT */
  .about-we-crush {
    .about-we-crush-slide {

      &.about-we-crush-slide-1 {
        background-color: #ffffff;
        color: #000000;
      }
    }
  }

  .about-our-client-have {
    .testo-container{
      color: #000000;

      a {
        color: #000000;
      }
    }
  }

  .about-partners,
  .about-clients{
    color: #000000;
  }

  .logo-row.logo-row-white{
    height: 0;
    opacity: 0;
  }

  .logo-row.logo-row-black{
    height: auto;
    opacity: 1;
  }

  .about-testimonial {
    color: #000000;

    .title {
      span {
      }
    }
    .testimonial-slide {
      .img {
        background-blend-mode: luminosity;
        background-color: #ffffff;

        img {
          max-width: 100%;
          visibility: hidden;
        }

        &:after {
          background: linear-gradient(180deg, rgba(100, 100, 100, 0) 62.03%, rgba(0, 0, 0, 0.8) 90%);
        }
      }

      .data-container {
      }

      .data {
        color: #000000;
        .logo {
          position: relative;
          margin-left: 20px;
          padding-left: 21px;

          .logo-white {
            display: none;
          }
          .logo-black {
            display: block;
          }

          &:before {
            background-color: #000000;
          }
        }
        .societa {
          color: #000000;
        }
      }
    }

    .swiper-buttons {
      .swiper-pagination {
        .swiper-pagination-bullet {
          background-color: #8D8D8D;
        }

        .swiper-pagination-bullet-active {
          background-color: #000000;
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      svg{
        circle{
          fill: #000000;
        }
        path{
          fill: #ffffff;
        }
      }
    }

  }


  /* FOOTER */
  .site-footer .row-sentence,
  .site-footer .row-sedi .sede-i {
    color: #000000;
  }
}



